@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}


.App{
    min-height: 100vh;
    display: flex;
    background-color: pink;
    /* background-image: url('https://images.pexels.com/photos/2259232/pexels-photo-2259232.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center; */
}

::-webkit-scrollbar{
    width: 0px;
}

::-webkit-scrollbar-thumb{
    background: rgba(136, 136, 136, 0.281);
}


::-webkit-scrollbar-thumb:hover{
    background: #555;
}